appdirs==1.4.3
click==6.7
decorator==4.0.11
easygui==0.98.1
Flask==0.12
Flask-MySQL==1.4.0
imageio==2.1.2
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==1.0
moviepy==0.2.3.1
numpy==1.12.1
olefile==0.44
packaging==16.8
Pillow==4.1.0
PyMySQL==0.7.10
pyparsing==2.2.0
six==1.10.0
tqdm==4.11.2
virtualenv==15.1.0
Werkzeug==0.12
easygui==0.98.1