<h1 align='center' style="font-size:50px; font-family:arial;">Finished experiment! Next steps:</h1>
<h1 align='center' style="font-size:25px; font-family:arial;">1. Turn off the Go Pro and plug in micro SD card into your computer (using the SD card adapter, if needed).</h1>
<h1 align='center' style="font-size:25px; font-family:arial;">2. Download the <a href="{{ path }}">log file</a> for this experiment.</h1>
<h1 align='center' style="font-size:25px; font-family:arial;">3. Run video_splitter.py and follow the on screen prompts where you will select the raw video file, determine the time delay between start of recording and start of experiment, enter the log file path, and enter a clip desitination folder.</h1>
<h1 align='center' style="font-size:25px; font-family:arial;">4. Hit the button below and then hit the survey button to start the survey.</h1>
<a align='center' href="/admin"><button>Admin Dashboard</button></a>