<form action="/processExperiment" method="POST"  onsubmit="disableButton()">
    <select class="form-control dropdown-main" name="order">
      {% for order in orders %}
        {% if next[1] != order|int %}
          <option value="Order {{order}}">Order {{order}}</option>
        {% else %}
          <option value="Order {{order}}" selected>Order {{order}}</option>
        {% endif %}
      {% endfor %}
    </select>
    Experiment Number<input type="text" name="nextNum" value="{{next[0]}}"required>
    <button type="submit" class="btn btn-fp" name="Start" id="Start">Start Experiment</button>
</form>

<script type="text/javascript">
    function disableButton() {
        document.getElementsByName('Start')[0].disabled = true;
    }
</script>